:root {
  --color-primary: #4848F0;
  --color-blue: #00AEEF;

  --color-gold: rgba(206,136,1,1);
  --color-rose: #9D6B88;
  --color-light-gray: #F6F3F9;
  --padding-primary: 24px;

  --max-container: 1200px;
  --narrow-container: 800px;

  /* max-widths for containers */
  --mini: 90vw;
  --mobile: 90vw;
  --tablet: 80vw;
  --desktop: 1024px;

  @custom-media --mini  (min-width: 280px) and (max-width: 374px);
  @custom-media --mobile  (min-width: 375px) and (max-width: 767px);
  @custom-media --tablet (min-width: 768px) and (max-width: 1024px);
  @custom-media --desktop (min-width: 1025px);
  @custom-media --desktop-xl (min-width: 1225px);
}
body {

  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color:#9d6b88
}
h1 {
  font-family: 'Euphoria Script', cursive;
  font-size: 60px;
  text-align: center;
  font-weight: normal;
  color: #9D6B88;

}
h2 {
  text-align: center;
  color: var(--color-gold);
  font-size: 18px;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Josefin Sans', sans-serif;

}
h3 {
  color: var(--color-gold);
  font-size: 34px;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Josefin Sans', sans-serif;
}
h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#about {
  text-align: center
}


.container {
  padding: 0 1vw;
  @media (--tablet), (--desktop) {
    padding: 0 2vw
  }
}

section {
  margin: 0 0 0 0;
  padding: 3rem;

  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
    & li {
    padding: 0 0 10px 0;
      margin: 0 0 10px 0;
      border-bottom: solid 1px color(var(--color-rose) tint(90%));
      font-size: 90%;
    }

  }
  &:first-child {
    margin-top: 0;
  }
  & h2.section-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
  }

  @nest &:nth-child(odd) {
    & .inner {
      grid-template-areas: "info image";
      grid-template-columns: 2fr 1fr;
    }

  }
  & .inner {
    grid-column-gap: calc(var(--padding-primary) * 2);
    grid-row-gap: calc(var(--padding-primary) * 4);
    margin-top: calc(var(--padding-primary));
    grid-template-areas: "image info";
    grid-template-columns: 1fr 2fr;

    @nest & .info {
      grid-area: info;
    }
    @nest & .image {
      grid-area: image;
    }

    & .info {
      padding: var(--padding-primary);
      & p {
        margin: 0 0 .7rem 0;
        font-size: calc(13px + .5vw);
        &:last-child {
          margin: 0;
        }
      }
    }
    & .image {
      text-align: center;
      & img {
        max-width: 100%;
        width: 250px;
        border-radius: 50%;
      }
      & h2, & h3 {
        margin: 0;
        color: #fe938c
      }
      & h2 {
        font-size: 2rem;

      }
    }


  }
}


.grid {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  @media (--tablet), (--desktop), (--desktop-xl) {
    display: grid;
  }
}
.grid > * {
  box-sizing: border-box;
  height: 100%;
  flex: 1 1 auto;
}
.grid > * :last-child,
.grid > * :last-child > :last-child,
.grid > * :last-child > :last-child > :last-child {
  margin-bottom: 0;
}
@define-mixin btn-primary {
  color: white;
  background-color: var(--color-rose);
  display: inline-block;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: 14px;
  margin: 1rem 0;
  font-family: 'Josefin Sans', sans-serif;
  display: block;
  width: 140px;
  text-align: center;
}
.btn, a.btn {
  color: var(--color-rose);
  text-decoration: none;
  text-decoration: none;
  padding: .8rem 1.6rem;
  border-radius: 3rem;
  cursor: pointer;
}
.btn-primary, a.btn-primary {
  @mixin btn-primary;
  &:hover {
    background-color: color(var(--color-rose) shade(10%));
  }
}
nav {
  transition: all .5s cubic-bezier(.03,.82,.34,.99);
  margin-left: auto;
  width: 100%;


  @media (--tablet), (--desktop) {
    width: auto;
  }
  & ul {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;


    align-items: center;
    position: relative;
    pointer-events: auto;
    margin: 0 auto;

    & li {
      list-style: none;
      margin-bottom: 0;

      & a {
        @media (--tablet), (--desktop) {
          height: 6rem;
          width: 6rem;
          border-radius: 50%;
        }
        &:hover {
          @media (--tablet), (--desktop) {
            background-color: #fff;
          }
        }
        line-height: 6rem;
        color: inherit;
        font-size: 1rem;
        text-align: center;
        display: block;
        transition: all .5s cubic-bezier(.03,.82,.34,.99);
        box-shadow: inset 0 0 0 2.5px transparent;


      }
    }
  }
}



& .btn-primary {
  background-color: var(--color-gold);
  &:hover {
    background-position:
  }
}

footer {
  text-align: center;
}
a {
  color: inherit;
}

footer {
  @nest & .social {
    margin: 0;
    padding: 0;
    & a {
      text-decoration: none;
    }
    & svg {
      height: 50px;
      width: 50px;
      fill: #9D6B88;
    }
    @nest & span {
      display: none;
    }
    @nest & li {
      display: inline;
      list-style: none;
      margin: 0 1rem;
      &:first-child {

      }
    }
  }
}
